body{

    margin: 0;
padding: 0;
display: flex;
justify-content: center;
min-height:100vh ;
background-color:#1a1a1a ;


}



h1{
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;

  background-color: black;
  color:white;
  text-align: center;
  text-transform: uppercase;
  text-decoration:line-through;
  text-decoration-color:red;
  text-decoration-thickness:4px ;
}


.image{

    border:5px solid black;
    max-width: 80%;
    height: auto;
    display: block;
 
    margin:auto;
    margin-bottom: 30%;
    margin-top: 3%;
}
#Mz{

    text-align: end;
    text-align-last: right;
    font-size: 14px;
    font-weight: bolder;
    margin-top: -10px;
    margin-right: 10px;
    color:green;
    border: solid black;
    
    background-color: yellow;
    margin-left:60% ;
    
}
